/*============================================| Padding */
.padding-5 {
    padding: 5px;
}
.padding-32 {
    padding: 32px;
}
.padding-64 {
    padding: 64px;
}
.padding-top-5 {
    padding: 5px 0px 0px 0px;
}
.padding-right-5 {
    padding: 0px 5px 0px 0px;
}
.padding-bottom-5 {
    padding: 0px 0px 5px 0px;
}
.padding-left-5 {
    padding: 0px 0px 0px 5px;
}

.padding-10 {
    padding: 10px;
}
.padding-top-10 {
    padding: 10px 0px 0px 0px;
}
.padding-right-10 {
    padding: 0px 10px 0px 0px;
}
.padding-bottom-10 {
    padding: 0px 0px 10px 0px;
}
.padding-left-10 {
    padding: 0px 0px 0px 10px;
}

.padding-15 {
    padding: 15px;
}
.padding-top-15 {
    padding: 15px 0px 0px 0px;
}
.padding-right-15 {
    padding: 0px 15px 0px 0px;
}
.padding-bottom-15 {
    padding: 0px 0px 15px 0px;
}
.padding-left-15 {
    padding: 0px 0px 0px 15px;
}

.padding-25 {
    padding: 25px;
}
.padding-top-25 {
    padding-top: 25px;
}
.padding-right-25 {
    padding-right: 25px;
}
.padding-bottom-25 {
    padding-bottom: 25px;
}
.padding-left-25 {
    padding-left: 25px;
}

.padding-100 {
    padding: 100px;
}
.padding-top-100 {
    padding-top: 100px;
}
.padding-bottom-100 {
    padding-bottom: 100px;
}

/*============================================| Margin */
.margin-10 {
    margin: 10px;
}
.margin-15 {
    margin: 15px;
}
.margin-100 {
    margin: 100px;
}
.margin-top-15 {
    margin-top: 15px;
}
.margin-bottom-15 {
    margin-bottom: 15px;
}
.margin-left-15 {
    margin-left: 15px;
}
.margin-top-25 {
    margin-top: 25px;
}
.margin-bottom-25 {
    margin-bottom: 25px;
}
.margin-top-50 {
    margin-top: 50px;
}
.margin-bottom-50 {
    margin-bottom: 50px;
}

/*============================================| Width & Height */
.width-100p {
    width: 100%;
}
.width-50p {
    width: 50%;
}
.width-32 {
    width: 32px;
}
.width-100 {
    width: 100px;
}
.width-200 {
    width: 200px;
}
.width-300 {
    width: 300px;
}
.width-400 {
    width: 400px;
}

.height-100p {
    height: 100%;
}
.height-50p {
    height: 50%;
}
.height-100 {
    height: 100px;
}
.height-200 {
    height: 200px;
}
.height-300 {
    height: 300px;
}

/*============================================| Button */
.button-width-100 {
    display: block;
    width: 100%;
    border: none;
    background-color: #04AA6D;
    padding: 14px 28px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
}

.button-minus, .button-plus {
    background-color: transparent;
    background-image: none;
}

.btn-icon {
    width: 40px;
    height: 40px; 
    padding: 0px 0px; 
    font-family: 'Courier New', Courier, monospace;
  }

/*============================================| Color */
.background-color-red {
    background-color: #FF0000;
}

.background-color-grey {
    background-color: #F5F7F8;
}

.background-color-white {
    background-color: #FFFFFF;
}

.background-color-ocean-green {
    background-color: #3EB16E;
}

.color-deep-grey {
    color: #A3A3A3;
}

.color-red {
    color: #FF0000;
}

.color-ocean-green {
    color: #3EB16E;
}

/*============================================| Font */
.font-size-35 {
    font-size: 35px;
}

.font-size-30 {
    font-size: 30px;
}

.font-size-25 {
    font-size: 25px;
}

.font-size-20 {
    font-size: 20px;
}

.font-size-15 {
    font-size: 15px;
}

.font-size-10 {
    font-size: 10px;
}

.line-height-05 {
    line-height: 0.5;
}

/*============================================| Flex & Float */
.flex {
    display: flex;
}
.float-left {
    float: left;
}
.float-right {
    float: right;
}

.flex-container {
    display: flex;
    justify-content: space-between; /* could also try with space-around */
}

.flex-child {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    height: calc(100% - 20px); /* for demonstration purposes, subtracts top and bottom margin from height */
    margin: 10px; /* for demonstration purposes */
}

.flex-content-center {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.items-center {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
}

.align-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/*============================================| Icon */
.category-icon {
    font-size: 25px;
}

/*============================================| Border */
.border-right-radius {
    border-radius: 0px 5px 5px 0px;
    background: #73AD21;
    margin-right: 15px;
}

.circle {
    height: 115px;
    width: 115px;
    background-color: #bbb;
    border-radius: 100%;
    display: inline-block;
}

.img-circle {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    border: 3px solid #F2F2F2;
}

.img-circle-110 {
    border-radius: 50%;
    width: 110px;
    height: 110px;
    border: 3px solid #F2F2F2;
}

/*============================================| Image */
.product-img {
    border: 1px solid #ddd;
    border-radius: 4px;
}

.product-img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.word-wrap {
    word-wrap: break-word;
}

/*============================================| Visibility */
.hidden {
    visibility: hidden !important;
}

/*============================================| Carousel */
@media (min-width: 768px) {
    .carousel-control {
        padding-top:8%;
        width:5%;
    }    
}

@media (min-width: 992px) {
        .carousel-control {
        padding-top:9%;
        width:5%;
    }
}

@media (min-width: 1200px) { 
        .carousel-control {
        padding-top:10%;
        width:5%;
    }
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  height: 250px;
  width: 250px;
  /*outline: black;*/
  /*background-size: 100%, 100%;*/
  border-radius: 100%;
  /*border: 1px solid black;*/
  background-image: none;
  background-color: #A3A3A3;
}

/*============================================| Footer */
ul#footer li {
    display:inline;
}

.item-social > a {
    width:30px;
    height:30px;
    display:inline-block;
    text-align:center;
    border-radius:50%;
    border:1px solid #ccc;
    color:inherit;
    opacity:0.75;
}
  
.item-social > a:hover {
    opacity:0.9;
}

.copyright {
    font-size:13px;
    opacity:0.6;
}

/*=========== Input Field ===========*/
/*.form-control {
  border-radius: 0px !important;
}*/